* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #2da8cef1;
    --color-secundario: #dee6e7;
    --color-terciario: #0f850f;
    --color-hover: #1456e2;
    --color-texto: #ffffffe3;
}

body {
    font-family: Roboto, Arial;
    font-weight: 500;
    background-color: var(--color-secundario);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-principal);
}

.header-logo {
    flex: 0 1 auto;
}

#logo-img {
    height: 42px;
}


.navbar ul a:hover {
    background-color: var(--color-hover);
    color: white;
}

.intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-around;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)),
        url('../img/zapatilla_2.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.intro-texto {
    flex: 1 1 500px;
    font-weight: 900;
    font-size: 1.4em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    max-width: 600px;
    margin: 0 auto;
    color: var(--color-texto);
    text-shadow: 2px 2px 2px black;
}

.intro-section .intro-texto p {
    flex: 1 1 auto;
    line-height: 1.8;
    margin: 0 10px 10px 0;
}

.btn:hover {
    background-color: var(--color-terciario);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color-hover);
    color: var(--color-texto);
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    margin: 20px auto;
}

.intro-section .about-section {
    padding: 40px 20px;
    text-align: center;
}

.about-section h2 {
    justify-self: center;
    font-size: 2.5rem;
    color: var(--color-principal);
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 5px;
}

.etiqueta {
    justify-self: center;
    color: var(--color-terciario)
}

#product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 40px;
    border-top: 1px solid var(--color-principal);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: var(--color-texto);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 2s ease-in-out;
}

.expanded {
    width: 100%;
    height: auto;
    transition: all 2s ease-in-out;
}

.card .product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* Botón +info */
.btn-info {
    align-self: flex-end;
    background-color: var(--color-principal);
    font-size: 1.2em;
    color: var(--color-texto);
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: var(--color-hover);
}

.card-expanded {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 2s ease-in-out;
}

.card-expanded .image-container {
    flex: 1 1 20%;
}

.card-expanded img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-expanded .details {
    flex: 1 1 80%;
    display: flex;
    font-size: 1.2em;
    color: var(--color-principal);
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 428px) {
    .card {
        flex-direction: column;
        max-width: 100%;
        min-width: 100%;
    }

    .product-image {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .product-content {
        max-width: 100%;
        width: 100%;
        padding: 15px;
    }
}

.contact-section {
    padding: 20px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    align-content: center;
    padding: 16px;
    height: auto;
    margin: 10px;
}

form h1 {
    align-self: center;
    color: var(--color-principal);
}

.input-contact {
    font-family: sans-serif;
    font-size: 1em;
    width: 70%;
    height: auto;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.input-contact:focus-within {
    outline: none;
    border-color: var(--color-hover);
}

button[type="submit"] {
    font-family: sans-serif;
    font-size: 1em;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color-hover);
    color: var(--color-texto);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 20px auto;
}

button[type="submit"]:hover {
    color: black;
    background-color: darken(var(--color-principal), 10%); /* Oscurecer color al pasar el ratón */
}

/* Breakpoint para pantallas pequeñas*/
@media (max-width: 600px) {

    form {
        font-size: 1.4em;
        width: 90vw;
        padding: 10px;
    }

    .input-contact {
        font-size: 1.2em;
        width: 100%;
    }

    button[type="submit"] {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}

/*Breakpoint para pantallas medianas*/
@media (min-width: 601px) and (max-width: 1024px) {
    form {
        font-size: 1.4em;
        width: 80vw;
    }

    .input-contact {
        font-size: 1.1em;
        width: 100%;
    }

    button[type="submit"] {
        font-size: 1.1em;
        padding: 10px 20px;
    }
}

/* Breakpoint para pantallas grandes*/
@media (min-width: 1025px) {
    form {
        font-size: 1.6em;
        width: 80vw;
    }

    .input-contact {
        font-size: 1.3em;
    }

    button[type="submit"] {
        font-size: 1.3em;
        padding: 12px 24px;
    }
}

.footer {
    background-color: var(--color-principal);
    color: var(--color-texto);
    padding: 20px;
    text-align: center;
}

.footer-social {
    margin-top: 10px;
}

.social-link {
    margin: 0 10px;
    color: var(--color-texto);
    text-decoration: none;
    transition: color 0.3s;
}

.social-link:hover {
    color: var(--color-hover);
}