* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #2da8cef1;
    --color-secundario: #dee6e7;
    --color-terciario: #0f850f;
    --color-hover: #1456e2;
    --color-texto: #ffffffe3;
}

body {
    font-family: Roboto, Arial;
    font-weight: 500;
    background: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-principal);
}

.header-logo {
    flex: 0 1 auto;
}

#logo-img {
    height: 42px;
}

.navbar ul a:hover {
    background-color: var(--color-hover);
    color: white;
}

.intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    background-image: url('../img/zapatilla_2.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.intro-texto {
    flex: 1 1 500px;
    font-weight: 900;
    font-size: 1.4em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    color: var(--color-texto);
    text-shadow: 2px 2px 2px black;
    background-color: rgba(37, 35, 35, 0.425);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.intro-section .intro-texto p {
    flex: 1 1 auto;
    line-height: 1.8;
    margin: 0 10px 10px 0;
}

.btn:hover {
    background-color: var(--color-terciario);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color-hover);
    color: var(--color-texto);
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    margin: 20px auto;
}

.intro-section .about-section {
    padding: 40px 20px;
    text-align: center;
}

.about-section h2 {
    justify-self: center;
    font-size: 2.5rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: var(--color-principal);
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 20px;
    margin-bottom: 5px;
}

.etiqueta {
    justify-self: center;
    color: var(--color-terciario)
}

#product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 40px;
    border-top: 1px solid var(--color-principal);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: var(--color-texto);
}

.expanded {
    width: 100%;
    height: auto;
}

.card .product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
    align-items: center;
}


.btn-product{
    align-self: flex-end;
    background-color: var(--color-principal);
    font-size: 1.2em;
    color: var(--color-texto);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-product:hover {
    background-color: var(--color-hover);
}

.card-expanded {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}

.card-expanded .image-container {
    flex: 1 1 20%;
}

.card-expanded img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-expanded .details {
    flex: 1 1 80%;
    display: flex;
    font-size: 1.2em;
    color: var(--color-principal);
    flex-direction: column;
    justify-content: space-between;
}

#cart-icon {
    position: fixed;
    display: block;
    background-color: var(--color-principal);
    padding: 10px;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 900;
    max-height: 90%;
    overflow-y: auto;
}

#cart-dropdown {
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    border: 1px solid var(--color-principal);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--color-principal);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

#cart-dropdown.visible {
    display: block;
}

.cart-item {
display: flex;
justify-content: space-between;
align-items: center;
font-size: small;
padding: 10px 0;
border-bottom: 1px solid #ddd;
}

.quantity-btn {
    background-color: var(--color-principal);
    font-size: 1.1em;
    width: 30px;
    color: var(--color-texto);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.quantity-btn:hover {
    background-color: var(--color-hover);
}

#cart-buttons {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

#cart-checkout, #cart-clear {
    background-color: var(--color-principal);
    color: white;
    border: none;
    font-size: medium;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cart-item span {
flex: 1;
}

.cart-item button {
margin-left: 10px;
}

.remove-item-btn {
    background: none;
    border: none;
    color: grey;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    display: block;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.remove-item-btn:hover {
transform: scale(1.2);
color: red;
}

#cart-count {
position: absolute;
top: 2px;
right: 4px;
background-color: red;
color: white;
font-size: 14px;
font-weight: bold;
width: 20px;
height: 20px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease-in-out;
}

#cart-count.hidden {
    display: none;
}

#cart-count.updated {
transform: scale(1.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

#checkout-summary {
    text-align: left;
    margin-bottom: 20px;
}

#checkout-summary #item-list {
    box-shadow: 0px 4px rgb(0, 0, 0);
    margin-bottom: 15px;
}

.item-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.modal-values {
    font-weight: bold;
}

#checkout-summary p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 16px;
}

#checkout-summary .label {
    font-weight: normal;
}

#checkout-summary .value {
    font-weight: bold;
    text-align: right;
}

#modal-total .value {
    color: #007bff;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-modal {
    align-self: flex-end;
    background-color: var(--color-principal);
    color: var(--color-texto);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-modal:hover {
    background-color: var(--color-hover);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #checkout-modal, #cart-dropdown{
        font-size: small;
    }

    .card {
        flex-direction: column;
        max-width: 100%;
        min-width: 100%;
    }

    .product-image {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .product-content {
        max-width: 100%;
        width: 100%;
        padding: 15px;
    }

    .card-expanded {
        flex-direction: column;
        gap: 0;
        padding: 10px;
    }

    .card-expanded .image-container {
        display: none;
    }

    .card-expanded .details {
        font-size: 0.9em;
    }

    .card-expanded .details h2 {
        font-size: 1.1em;
    }

    .card-expanded .details p {
        font-size: 0.9em;
    }

    .buttons {
        gap: 5px;
    }

    .btn-product {
        font-size: 0.9em;
        padding: 8px;
    }
}

.contact-section {
    padding: 20px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #90ee90, #7ad7f0 70%);
}

form{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    align-content: center;
    width: 80vw;
    padding: 16px;
    height: auto;
    margin: 10px;
}

form h1 {
    align-self: center;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: var(--color-principal);
}

.input-contact {
    font-family: sans-serif;
    font-size: 1em;
    width: 70%;
    height: auto;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.input-contact:focus-within {
    outline: none;
    border-color: var(--color-hover);
}

button[type="submit"] {
    font-family: sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--color-hover);
    color: var(--color-texto);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 20px auto;
}

button[type="submit"]:hover {
    color: black;
    background-color: darken(var(--color-principal), 10%);
}

/* Breakpoint para pantallas pequeñas*/
@media (max-width: 600px) {

    form {
        font-size: small;
        width: 90vw;
        padding: 10px;
    }

    .input-contact {
        width: 100%;
    }

    button[type="submit"] {
        padding: 8px 16px;
    }
}

/*Breakpoint para pantallas medianas*/
@media (min-width: 601px) and (max-width: 1024px) {
    form {
        font-size: medium;
        width: 80vw;
    }

    .input-contact {
        width: 100%;
    }

    button[type="submit"] {
        padding: 10px 20px;
    }
}


.footer {
    background-color: var(--color-principal);
    color: var(--color-texto);
    padding: 20px;
    text-align: center;
}

.footer-social {
    margin-top: 10px;
}

.social-link {
    margin: 0 10px;
    color: var(--color-texto);
    text-decoration: none;
    transition: color 0.3s;
}

.social-link:hover {
    color: var(--color-hover);
}